/* ---------------------------------------------------
// App Footer
//------------------------------------------------- */

.app-footer {
  position: relative;
  padding: 24px 0;
}

.app-footer-inner {
  max-width: var(--theme-site-width);
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.app-footer-inner > *:not(:first-child) {
  margin-top: 16px;
}

.app-footer-copylight {
  color: var(--theme-tx-2);
  font-size: 0.875rem;
  font-family: var(--theme-font-sans-en);
  text-align: center;
}
